.coloring{
    text-align: center;
   background-color:#EF9A53;
   font-family: 'Rubik Distressed', cursive;
   font-size: 50px;
   margin-top: 40%;
}
.fonts{
    font-family: 'Rubik Distressed', cursive;
    font-size: 80px;
}
.buttons{
    text-align: center;
}